@import '@styles/base';

.list {
  @include directionY;
  width: 100%;

  margin-top: 1.5rem;
}

.arrList {
  border-bottom: 1px solid;
  border-bottom-color: rgb(145, 145, 145);
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  padding: 0.6rem 1rem;
  align-items: center;
}

.arrListDark {
  border-bottom: 1px solid;
  border-bottom-color: rgb(95, 95, 95);
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  padding: 0.6rem 1rem;
  align-items: center;
}

.boxBottom {
  @include directionX;
  padding: 0.6rem 1.8rem;
  align-items: center;
  justify-content: space-between;
  // background: hsl(0, 0%, 95%);
}

.center {
  @include directionX;
  column-gap: 1rem;
}
.right {
  @include directionX;
  column-gap: 1rem;
}

.overflow {
  overflow-y: auto;
  height: 40vh;
  // max-height: 400px;
}

.center button {
  font-family: inherit;
  color: black;
  text-transform: none;
}
.right button {
  font-family: inherit;
  color: black;
  text-transform: none;
}

.centerDark {
  @include directionX;
  column-gap: 1rem;
}

.rightDark {
  @include directionX;
  column-gap: 1rem;
}

.centerDark button {
  font-family: inherit;
  color: hsl(241, 19%, 90%);
  text-transform: none;
}
.rightDark button {
  font-family: inherit;
  color: hsl(241, 19%, 90%);
  text-transform: none;
}

.fontTitle {
  margin-left: 0.4rem;
  overflow: hidden;
}
.fontTitleCompleted {
  margin-left: 0.4rem;
  overflow: hidden;
  text-decoration: line-through;
  color: gray;
}
.center {
  .text {
    color: rgb(38, 0, 255);
  }
}

.centerDark {
  .text {
    color: pink;
  }
}

.boxMobile,
.boxMobileDark {
  display: none;
}

.inputEdit {
  border-bottom: 1px solid;
  border-bottom-color: rgb(145, 145, 145);
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  padding: 0.6rem 1rem;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.inputEditDark {
  border-bottom: 1px solid;
  border-bottom-color: rgb(95, 95, 95);
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  padding: 0.6rem 1rem;
  align-items: center;
  background-color: rgb(53, 52, 68);
}

@media screen and (max-width: 1530px) {
  .center {
    display: none;
  }

  .centerDark {
    display: none;
  }

  .boxMobile {
    @include directionX;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
  }
  .boxMobile button {
    font-family: inherit;
    color: black;
    text-transform: none;
    margin-top: 6px;
  }
  .boxMobileDark {
    @include directionX;
    column-gap: 1rem;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
  }
  .boxMobileDark button {
    font-family: inherit;
    color: hsl(241, 19%, 90%);
    text-transform: none;

    margin-top: 6px;
  }

  .boxMobile {
    .text {
      color: rgb(38, 0, 255);
    }
  }

  .boxMobileDark {
    .text {
      color: pink;
    }
  }
}
