@import '@styles/base';

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  @include directionY;
  align-items: center;
  padding: 0 30%;
  background-color: hsl(0, 0%, 93%);
  position: relative;
  padding-top: 12vh;
  z-index: 1;
}

.containerDark {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  @include directionY;
  align-items: center;
  padding: 0 30%;
  background-color: hsl(235, 21%, 11%);
  position: relative;
  padding-top: 12vh;
  z-index: 1;
}

.containerImage {
  background-image: url('@static/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  top: 0;
  height: 45vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.containerImageDark {
  background-image: url('@static/images/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  top: 0;
  height: 45vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 18%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 18%;
    padding-top: 12vh;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 18%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 18%;
    padding-top: 12vh;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 10%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 10%;
    padding-top: 12vh;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 5%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 5%;
    padding-top: 12vh;
  }
}
